@font-face {
  font-family: "PFBeauSansPro-Black";
  src: url("../fonts/PFBeauSansPro-Black.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PFBeauSansPro-Light";
  src: url("../fonts/PFBeauSansPro-Light.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
}
